NODE_ENV=production
PORT=3000
ADMIN_PORT=3000
USER_PORT=3001
ROOT_DOMAIN=mindvex.cloud
# ROOT_DOMAIN=localhost
APP_DEBUG=true
LOG_LEVEL=debug

DATABASE_URL=mysql://root:mysqlpass2025@db:3306/mlmlive


# Database Credentials (Used by Docker)
DB_PASSWORD=mysqlpass2025
DB_NAME=mlmlive

# At least 32 characters long
APP_SECRET=
JWT_ACCESS_SECRET=rgberkbgkrwgtfwkbh
JWT_REFRESH_SECRET=jgefvgwjgvfjgwvjw

# OAuth2 Configuration (Optional for dev)
ISSUER_BASE_URL=
AUDIENCE=

# Default Pagination
DEFAULT_PAGE_SIZE=10

# Email Configuration
CONSOLE_LOG_EMAILS=true
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
ADMIN_EMAIL=admin@example.com
